.FormWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-items: center;
	margin: 0 0 20px;
}

.Form {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.Input {
	padding: 5px;
	margin: 0 10px 0 0;
	border-radius: 5px;
}

.SubmitBtn {
	margin: 0 10px 0 0;
	padding: 5px;
	min-width: 100px;
}

.SearchBtn {
	margin-right: 10px;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-image: url("../../assets/loupe.svg");
	background-position: center;
	background-repeat: no-repeat;
	transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.SearchBtn:active {
	transform: translate(-1px, -1px);
}

.SearchBtn.clicked {
	background-color: rgba(128, 128, 128, .8);
	box-shadow: -5px 5px 5px grey;
}