.App {
	width: 50vw;
	margin: 50px auto;
	border: 2px solid #444;
	border-radius: 10px;
}

.MainHeading {
	background: linear-gradient(to right, #22c1c3, #fdbb2d);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}